/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter-Variable';
  --dendy-font: 'PressStart2P';
  --font-normal: 400;
  --font-bold: 700;
  --stroke-color: #fff;
  --color-none: #fff;
  --contour-color: #000;
  --animation-fill-color: #FF0000;
}